body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.orange-color {
    color: rgb(241, 134, 4);
}

.flex-container {
    display: flex;
    margin-bottom: 175px;

}

.Half-width {
    width: 50%;
    padding-left: 3%;
}

.Half-width img {
    width: 75%;
}

.Link-Button {
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 161, 8), rgb(227, 59, 30));
    padding: 10px 30px;
    font-style: oblique;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    font-weight: 800;

}

.First-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.Down-half {
    width: 50%;
    padding-right: 3%;
}

.Down-half img {
    width: 75%;
}

.H-three {
    font-weight: 800;
}

.Dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Shado-develop {
    width: 50%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px rgb(8, 8, 181);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border-color: blue;

}

.Expriance {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;

}

#web-developExpriance {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}

#Baby-developer {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}